@font-face {
  font-family: 'YeongamWolchulsan';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/YeongamWolchulsan/YeongamWolchulsan.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/YeongamWolchulsan/YeongamWolchulsan.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/YeongamWolchulsan/YeongamWolchulsan.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/YeongamWolchulsan/YeongamWolchulsan.ttf') format('truetype');
}
